@font-face
  font-family: cq-font;
  src: url(./res/cq-res/font/GenJyuuGothic-Normal.ttf)

@font-face
  font-family: cq-font-bold
  src: url(./res/cq-res/font/GenJyuuGothic-Bold.ttf)

body
  background-image: url('./res/cq-res/home/background.png')
  background-repeat: no-repeat
  background-size: cover

#title
  background-image: url('./res/cq-res/main/logo-vertical.png')
  background-repeat: no-repeat
  background-size: 100% auto
  height: 8.88rem
  width: 14rem
  margin: 2rem 0 0 5.5rem

#container
  display: flex
  text-align: center
  width: 100%

  #screenshot
    background-image: url('./res/cq-res/home/iphone.png')
    background-repeat: no-repeat
    background-size: 100% auto
    height: 38.89rem
    margin: 0 .5rem 0 4rem
    width: 30.33rem

  .content
    display: flex
    flex: 0 0 50%
    flex-direction: column
    height: 41.66rem
    width: 33.33rem

    .content-bg
      background-position: center
      background-repeat: no-repeat
      background-size: 100% 100%
      width: 52.78rem

    #content-top-bg
      background-image: url('./res/cq-res/public_use/content-top-bg.png')
      height: 3.44rem
      margin-top: -4.44em

    #content-mid-bg
      background-image: url('./res/cq-res/public_use/content-bg.png')
      background-repeat: repeat-y
      height: 47.22rem

      .ui.icon.button
        height: 6rem
        width: 6rem

      .android.icon:hover
        transform: scale(1.2,1.2)

      .apple.icon:hover
        transform: scale(1.2,1.2)

    #content-bottom-bg
      background-image: url('./res/cq-res/public_use/content-bottom-bg.png')
      height: 4.38rem

    .ui.header
      margin-top: .5em
      font-size: 2.5rem
      font-family: cq-font-bold
      text-shadow: .1rem .1rem  #FFE153

  .section
    color: #000
    font-family: cq-font
    font-size: 1.5rem
    font-weight:  bolder
    letter-spacing: .2rem
    line-height: 2.5rem
    padding: 0 6rem 0 6rem
    text-align: justify

  #start-btn
    background-color: #d25c5a
    border: 0.25rem solid #1b7e9c
    border-color: #a04341
    border-radius: 1.5rem
    color: #FFF
    font-size: 1.5em
    font-family: cq-font-bold
    height: 4.2rem
    margin: 1.4rem auto 0
    padding: .5rem
    transform: rotate(-4deg)
    transition: transform .1s
    width: 12.2rem

  #start-btn:hover
    transform: scale(1.2,1.2)

@media screen and (max-width: 768px)
  #title
    background-image: url('./res/cq-res/home/logo.png')
    height: 4.8rem
    width: 24.9rem
    background-position: center

  #screenshot
    display: none
