doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Class Quest Form
    link(rel='stylesheet' type='text/css' href='build.css')
  body
    #container
      #homework.title
      #report.title
      #study.title
      #synthetic.title

    #submit-btn submit
    script(src='build.js')
