@font-face
  font-family: cq-font;
  src: url(./res/cq-res/font/GenJyuuGothic-Normal.ttf)

@font-face
  font-family: cq-font-bold
  src: url(./res/cq-res/font/GenJyuuGothic-Bold.ttf)

.header
  display: flex
  margin: .5rem

  >div
    flex: 1 1 auto
    background-repeat: no-repeat
    background-size: 100% auto
    height: 20rem
    width: 20rem

#homework
  background-image: url('./res/cq-res/character/homework-lv4.png')

#report
  background-image: url('./res/cq-res/character/report-lv4.png')

#study
  background-image: url('./res/cq-res/character/study-lv4.png')

#synthetic
  background-image: url('./res/cq-res/character/synthetic-lv4.png')

#submit-btn
  background-color: #d25c5a
  border: 0.25rem solid #1b7e9c
  border-color: #a04341
  border-radius: 1.5rem
  color: #FFF
  font-size: 1.5rem
  font-family: cq-font-bold
  height: 3.2rem
  margin: 1.4rem auto 0
  padding: .5rem
  width: 6.7rem

.content
  display: flex
  margin: 3rem

#icon
  flex: 0 0 auto
  background-image: url('./res/cq-res/skill/plus.svg')
  height: 5rem
  width: 5rem
  margin: 0 1rem

.ui.big.icon.input
  flex: 1 1 auto

  > i
    font-family: cq-font-bold

.ui.massive.icon.input
  font-family: cq-font-bold
