doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Class Quest Form
    link(rel='stylesheet' type='text/css' href='build.css')
  body
    #container
      .header
        #homework
        #report
        #study
        #synthetic
      #apply-process
        .ui.huge.breadcrumb
          p.section 填寫名稱與管理者密碼
          i.right.chevron.icon.divider
          p.section 按add可新增任務
          i.right.chevron.icon.divider
          p.section 按加號選擇頭像
          i.right.chevron.icon.divider
          p.section 選擇任務難度
          i.right.chevron.icon.divider
          p.section 填寫任務名稱及內容
          i.right.arrow.icon.divider
          p.active.section 按submit送出表單
      .content
        .ui.modal
          .ui.items
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/better.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/bonus.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/copy.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/delay.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/dice.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/double.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/energy.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/eye.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/food.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/gambling.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/grade.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/legend.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/me.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/order.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/rank.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/reborn.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/release.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/reset.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/sand.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/talent.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/time.svg')
            .ui.tiny.image: img(src='./res/cq-res/skill/icon/together.svg')

        #important
          div.ui.blue.large.horizontal.label 課程名稱
          .ui.huge.form
            input#courseName(type='text' name='Course name'  placeholder='課程名稱')
          div.ui.blue.large.horizontal.label 管理者密碼
          .ui.huge.form
            input#password(type='password' name='Password'  placeholder='管理者密碼')
        #mission-list
          .mission.hide
            .wrapper
              .avatar
              a.ui.red.label 難度等級
              .ui.massive.heart.rating(data-rating='1' data-max-rating='5')
            .mission-content
              .ui.big.form.field
                label|任務名稱
                input.mission_name(placeholder="Mission name" type="text")
              .ui.form.field
                label|任務內容
                textarea.mission_content
              .remove-btn.-btn Remove
            .ui.divider
          .mission
            .wrapper
              .avatar
              a.ui.red.medium.label 難度等級
              .ui.massive.heart.rating(data-rating='1' data-max-rating='5')
            .mission-content
              .ui.big.form.field
                a.ui.red.label 任務名稱
                input.mission_name(placeholder="Mission name" type="text")
              .ui.form.field
                a.ui.red.label 任務內容
                textarea.mission_content
              .remove-btn.-btn Remove
            .ui.divider
        #add-btn.-btn Add
        #submit-btn.-btn Submit
    .ui.basic.modal#alert: h1.ui.icon.header.icon warning!!最多五個任務!!
    .ui.basic.modal#warning: h1.ui.icon.header.icon Warning!!至少一個任務r!!
    .ui.basic.modal#message: h1.ui.icon.header.icon
    script(src='build.js')
