@font-face
  font-family: cq-font;
  src: url(./res/cq-res/font/GenJyuuGothic-Normal.ttf)

@font-face
  font-family: cq-font-bold
  src: url(./res/cq-res/font/GenJyuuGothic-Bold.ttf)

body
  overflow: hidden

#title
  background-image: url('./res/cq-res/favicon.png')
  background-repeat: no-repeat
  background-size: 100% auto
  height: 10rem
  width: 10rem
  margin: 2rem auto 5.5rem

