doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Class Quest Form
    link(rel='stylesheet' type='text/css' href='build.css')
  body
    #container
      .header
        #homework
        #report
        #study
        #synthetic
      .apply-process
      .content
        #icon
        .ui.big.icon.input
          input(type='text' placeholder='mission')
        .ui.big.icon.input
          input(type='text' placeholder='mission content')
        .ui.big.icon.input
          input(type='text' placeholder='exp')
          i|難度
        .ui.massive.heart.rating(data-rating='1' data-max-rating='5')
      #submit-btn submit
    script(src='build.js')
