@font-face
  font-family: cq-font;
  src: url(./res/cq-res/font/GenJyuuGothic-Normal.ttf)

@font-face
  font-family: cq-font-bold
  src: url(./res/cq-res/font/GenJyuuGothic-Bold.ttf)

#homework
  background-image: url('./res/cq-res/character/homework-lv4.png')
#report
  background-image: url('./res/cq-res/character/report-lv4.png')
#study
  background-image: url('./res/cq-res/character/study-lv4.png')
#synthetic
  background-image: url('./res/cq-res/character/synthetic-lv4.png')

.header
  background-image: url('./res/cq-res/home/background.png')
  background-repeat: no-repeat
  background-position: center
  display: flex
  >div
    flex: 1 1 auto
    background-repeat: no-repeat
    background-size: 100% auto
    height: 20vw
    width: 20vw

.content
  overflow-x: hidden

.ui.huge.breadcrumb
  display: block
  margin: 0 auto
  text-align: center

#important
  color: firebrick
  font-size: 1vw
  font-family: cq-font-bold
  margin: 2vw auto
  width: 45%

.hide
  display: none

.wrapper
  display: flex
  margin: 3vw 2vw 1vw 5vw

.ui.modal
  background: rgba(0,0,0,0)

.items
  background: rgba(0,0,0,0)

  .image
    margin: .5em

    >img
      height: 5rem
      width: 5rem

.avatar
  background-repeat: no-repeat
  flex: 0 0 5vw
  background-image: url('./res/cq-res/skill/plus.svg')
  height: 5vw
  margin: 0 1vw

.ui.big.icon.input
  flex: 1 1 auto

p,label
  color: firebrick
  font-size: 1vw
  font-family: cq-font-bold
p
  margin: 2vw

.ui.massive.heart.rating
  font-size: 2vw
  margin: 1.5vw

.ui.big.form.field
  margin: 1vw 0 1vw 14vw
  width: 20%

.ui.form.field
  margin: 2vw 0 1vw 14vw
  width: 50%

.-btn
  border-radius: 1.5vw
  color: #FFF
  font-size: 1.5vw
  height: 3.2vw
  width: 7vw
  text-align: center
  line-height: 3vw
  font-family: cq-font-bold
  user-select: none

#add-btn,.remove-btn
  background-color: #16a2c6
  border: 0.25vw solid #1b7e9c
  margin: 1.4vw auto
  cursor: pointer

#submit-btn
  background-color: #d25c5a
  border: 0.25vw solid #a04341
  margin: auto
  cursor: pointer

.big
  height: 5vw
  width: 17vw

.mini
  height: 4vw
  width: 15vw

.ui.mini.icon.input
  margin-left: 3vw

@media screen and (max-width: 500px)
  .inline
    display: block
