doctype html
html
  head
    meta(charset="utf-8")
    title Class Quest
  body
    #container
      #title
      #screenshot
      .content
        //! keep ratio
        #content-top-bg.content-bg
        #content-mid-bg.content-bg
          //! rename (section?)
          .introduction.
             Class Quest 是一款輔助實體世界的手機遊戲，它原本是設計用來增進同學對課程的參與度，但是也很適合各種有任務/解謎形式的活動，例如大地遊戲。以課程為例，每位同學在課堂中的表現，例如繳交作業，可以獲得遊戲中的經驗值；遊戲角色升級獲得的技能，例如延長期限，可以反過來影響實體課程。遊戲內容可以由玩家設計，與管理團隊一起共創，是一款可因應不同活動而擁有不同面貌的遊戲。
          #app.getapp
          #google.getapp
          //!.ui.header 設計專屬的任務
            //! our own color
          .introduction.
            Class Quest 需要配合實體活動，如果您附近沒有相關的活動，何不自己創一個來玩玩呢？
          #btn 創造屬於自己的 Class Quest
          //! a count-down section
        #content-bottom-bg.content-bg
//- vi:sw=2:ts=2:et
