doctype html
html
  head
    title CQ-landing-page
  body
    .shadow
    #title
    #container
      #iphone
      .content
        .description
          #content-top-bg
          #content-mid-bg
          #content-bottom-bg
          .ui.red.inverted.header About us
          .introduction &emsp;&emsp;產品頁面只是Landing page其中的一種形式而已，不要只把眼光侷限在這邊。其實所有的載體都是Landing page，例如廣告信也是一種銷售頁、電視廣告也是一種銷售頁、戶外看板也是銷售頁，甚至路邊攤也是一種銷售頁的模式（有招牌、有產品介紹、有使用展示、名人電視訪問等等）
        .description
          .ui.red.inverted.header Get app
          #app.getapp
          #google.getapp
        .description
          .ui.red.inverted.header Getting start
          .introduction 開始創造您的Class Quest
          //#register-btn
          #new-btn Start
<!--vi: sts=2;sw=2;et-->
