doctype html
html
  head
    title CQ-landing-page
  body
    .ui.orange.inverted.header Class Quest
    #container
      img(src='http://i.imgur.com/4wEIlF3.png', alt='cellphone')
      div
        #about_us
          .ui.brown.inverted.header About us
          #intro &emsp;&emsp;這是一個CQ的landing page這是一個提供台灣的幾所頂尖大學2016年在幾項世界上主要大學排名的資訊網頁。使用者可以選擇並看到各種排名的評比項目與權重的異同。而且此網頁的最重要的創新與特色有二：第一是客製化，使用者不只可以將學校按照分數高低或地理位置排列，更可以讓使用者改變評比項目的權重，因此可以看到學校間分數的差距，以及因為權重改變造成排名順序的變動；第二是在彙整項目中，加入自創的一項「領域完整性」的分數，對於想了解哪些學校比較像綜合性大學，以及學校間的差距會很有幫助。
        #getapp
          .ui.brown.inverted.header Get app
          img(src='http://i.imgur.com/TmAGItJ.png')
          img(src='http://i.imgur.com/sJmbCV9.png')
<!--vi: sts=2;sw=2;et-->
