doctype html
html
  head
    title CQ-landing-page
  body
    .shadow
    #title
    #container
      #iphone
      .content
        #content-top-bg.content-bg
        #content-mid-bg.content-bg
          .description
            .ui.red.inverted.header About us
            .introduction &emsp;&emsp;以虛擬遊戲世界結合實體課程；每位同學在課堂中的表現，例如繳交作業與考試等，將影響遊戲中所扮演角色的養成。此外，成長後的遊戲角色所獲得的技能能力，將可以反過來影響課程，譬如延後作業繳交時限或幫自己加分等。為了讓同學更投入遊戲與課程，內容可由同學自由發想，並提交給教學團隊審核。這是一款可因應不同課程而擁有不同面貌的遊戲。
          .description
            .ui.red.inverted.header Get app
            #app.getapp
            #google.getapp
          .description
            .ui.red.inverted.header Getting start
            .introduction 點擊Start開始創造屬於自己的Class Quest
            #start-btn Start
        #content-bottom-bg.content-bg
<!--vi: sts=2;sw=2;et-->
