doctype html
html
  head
    title CQ-landing-page
  body
    #title
    #container
      #iphone
      .content
        .description
          .ui.brown.inverted.header About us
          .introduction &emsp;&emsp;這是一個CQ的landing page這是一個提供台灣的幾所頂尖大學2016年在幾項世界上主要大學排名的資訊網頁。使用者可以選擇並看到各種排名的評比項目與權重的異同。而且此網頁的最重要的創新與特色有二：第一是客製化。
        .description
          .ui.brown.inverted.header Get app
          #app.getapp
          #google.getapp
        .description
          .ui.brown.inverted.header Getting start
          .introduction 開始創造您的Class Quest
          #register-btn
<!--vi: sts=2;sw=2;et-->
