@font-face
  font-family: cq-font;
  src: url(./res/cq-res/font/GenJyuuGothic-Normal.ttf)

@font-face
  font-family: cq-font-bold
  src: url(./res/cq-res/font/GenJyuuGothic-Bold.ttf)

body
  background-image: url('./res/cq-res/home/background.png')
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column

  .shadow
    position: absolute
    background-color: rgba(255, 255, 255, 0.3)
    height: 100%
    width: 100%
    z-index: -1

#title
  background-image: url('./res/cq-res/main/logo-vertical.png')
  background-repeat: no-repeat
  background-size: 100% auto
  height: 16vh
  width: 25.2vh
  margin: 2em 0 0 5.5rem

#container
  display: flex
  flex: 1 1 auto
  text-align: center

  #iphone
    background-image: url('./res/cq-res/home/iphone.png')
    background-repeat: no-repeat
    background-size: 100% auto
    height: 70vh
    margin: 2% 2% 0 5%
    width: 54.6vh

  .content
    display: flex
    flex: 0 0 50%
    flex-direction: column
    height: 75vh
    width: 60vh

    .content-bg
      background-position: center
      background-repeat: no-repeat
      background-size: 100% 100%
      width: 95vh

    #content-top-bg
      background-image: url('./res/cq-res/public_use/content-top-bg.png')
      height: 6.2vh
      margin-top: -8em

    #content-mid-bg
      background-image: url('./res/cq-res/public_use/content-bg.png')
      background-repeat: repeat-y
      height: 85vh

    #content-bottom-bg
      background-image: url('./res/cq-res/public_use/content-bottom-bg.png')
      height: 7.88vh

    .description
      flex: 1 1 auto

      .getapp
        background-repeat: no-repeat
        background-size: 100% auto
        display: inline-block
        height: 20vh
        width: 50vh

      #app
        background-image: url('./res/cq-res/home/app.png')
        height: 7.5vh
        width: 25.26vh

      #google
        background-image: url('./res/cq-res/home/google.png')
        height: 7.5vh
        width: 20vh

    .ui.red.inverted.header
      margin-top: .5em
      font-size: 2.5rem
      font-family: cq-font-bold
      text-shadow: .1rem .1rem  #FFE153

  .introduction
    color: #000
    font-family: cq-font
    font-size: 1.5rem
    font-weight:  bolder
    letter-spacing: .2rem
    line-height: 2rem
    padding: 0 6rem 0 6rem

  .description:first-child >.introduction
    text-align: left

  #start-btn
    background-color: #FF5151
    border-radius: 10px
    box-shadow: 0 6px #999;
    color: #FFF
    font-size: 1.5em
    font-family: cq-font-bold
    height: 5vh
    margin: 2% auto 0
    padding: .5rem
    transition: transform .1s
    width: 17.2vh

  #start-btn:hover
    transform: scale(1.2,1.2)

  @media screen and (max-width: 768px)
    #iphone
      display: none

    .content
      display: flex
      height: 80vh

      #content-top-bg
        margin-top: .5em

      #content-mid-bg
        height: 85vh

      .content-bg
        width: 75vh

      #start-btn
        line-height: 3.5vh
