@font-face
  font-family: cq-font;
  src: url(./res/cq-res/font/GenJyuuGothic-Normal.ttf)

@font-face
  font-family: cq-font-bold
  src: url(./res/cq-res/font/GenJyuuGothic-Bold.ttf)

body
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column

  .shadow
    position: absolute
    background-color: rgba(255, 255, 255, 0.3)
    height: 100%
    width: 100%
    z-index: -1

#title
  background-repeat: no-repeat
  background-size: 100% auto
  height: 16vh
  width: 25.2vh
  margin: 2em 0 0 4rem

#container
  display: flex
  flex: 1 1 auto
  text-align: center

  #iphone
    background-repeat: no-repeat
    background-size: 100% auto
    height: 70vh
    margin: 2% 2% 0 10%
    width: 54.6vh

  .content
    display: flex
    flex: 0 0 50%
    flex-direction: column
    height: 75vh
    width: 60vh

    #content-top-bg
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: center
      height: 3.92vh
      margin-top: -8em
      width: 90vh

    #content-mid-bg
      display: flex
      background-repeat: repeat-y
      background-size: 100% auto
      background-position: center
      flex-direction: column
      height: 80vh
      width: 90vh

    #content-bottom-bg
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: center
      height: 7.88vh
      width: 90vh

    .description
      flex: 1 1 auto

      .getapp
        display: inline-block
        height: 20vh
        padding-left: 2%
        width: 50vh

      #app
        background-repeat: no-repeat
        background-size: 100% auto
        height: 7.5vh
        width: 25.26vh

      #google
        background-repeat: no-repeat
        background-size: 100% auto
        height: 7.5vh
        width: 20vh

    .ui.red.inverted.header
      margin-top: .5em
      font-size: 35px
      font-family: cq-font-bold

  .introduction
    color: #000
    font-family: cq-font
    font-size: 1.5rem
    font-weight:  bolder
    letter-spacing: .2rem
    line-height: 2rem
    padding: 0 6rem 0 6rem

  .introduction:first-child
    text-align: left

  .introduction:nth-child(2)
    text-align: center

  #new-btn
    background-color: #FF5151
    border-radius: 10px
    box-shadow: 0 6px #999;
    color: #FFF
    font-size: 1.5em
    font-family: arial
    font-weight: 900
    text-align: center
    height: 5vh
    margin: 2% auto 0
    padding: .5rem
    width: 17.2vh

  #new-btn:hover
    transform: scale(1.2,1.2)
